body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.section-title {
    color: #ff4d4d;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.section-subtitle {
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.our-project {
    margin-top: 50px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-content {
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.project-content:hover, .project-content.active {
    background-color: #ff4d4d;
    color: #fff;
}

.project-content h4 {
    margin-top: 0;
}

.project-content p {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.navbar {
    background-color: #343a40 !important;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #ffcccc !important;
}
